{% extends 'SIGivetBundle::menu.html.twig' %}
{%  block title %}
SIGivet
{% endblock %}

{% block miga %}
<ul class="breadcrumb trim">
     <li><a href="#">Inicio</a> <span class="divider">/</span></li>
     <li><a href="#">Proyecto</a> <span class="divider">/</span></li>
     <li><a href="#">Finca</a> <span class="divider">/</span></li>
     <li><a href="#">Individuo</a> <span class="divider">/</span></li>
     <li class="active">Agregar Individuo</li>
   </ul>

{% endblock %}

{% block contenido %}
<div class="well">
    <div style="background:white" class="well trim">
    <h3 class="pull-left">Opciones</h3>
    <a id="show-toast-button"  data-toggle="modal" href="#myModal" class="btn btn-success pull-right"><i class="fa fa-times"></i> Cancelar</a>
    <a id="show-toast-button"  data-toggle="modal" href="#myModal" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Guardar</a>
    </div>
    <div style="background:white" class="well trim">
    <h3 class="align-center"><strong>Información Del Individuo</strong></h3>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><strong class="color">Identificación Animal</strong></a></li>
            <li><a href="#tab2" data-toggle="tab"><strong class="color">Clasificación</strong></a></li>
            <li><a href="#tab3" data-toggle="tab"><strong class="color">Abortos</strong></a></li>
            <li><a href="#tab4" data-toggle="tab"><strong class="color">Producción Láctea</strong></a></li>
            <li><a href="#tab5" data-toggle="tab"><strong class="color">P. Reproductivo</strong></a></li>
            <li><a href="#tab6" data-toggle="tab"><strong class="color">Leptospira</strong></a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div style="background:white" class="well">
                <div class="row">
                    <div class="span4"><strong>Identificación</strong></div>
                    <div class="span4"><input type="text" placeholder="Identificación"></div>
                </div>
                <div class="row">
                    <div class="span4"><strong>Sexo*</strong></div>
                    <div class="span4">
                        <select style="width:206px">
                            <option>Seleccionar</option>
                            <option>Masculino</option>
                            <option>Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="span4"><strong>Fecha</strong></div>
                    <div class="span4">
                        <div data-date-format="dd-mm-yyyy" data-date="12-02-2012" id="dp3" class="input-append date" data-provide="datepicker">
                        <input style="width:180px"type="text" readonly="" value="12-02-2012" size="16" class="span2">
                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4"><strong>Peso</strong></div>
                    <div class="span4">
                        <input type="text" placeholder="Peso"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="span4"><strong>Condición Corporal</strong></div>
                    <div class="span4">
                        <input type="number" required="required" min="1" placeholder="Condición Corporal">
                    </div>
                </div>
                <br></br>
                <div class="pull-left">
                    <label class="text-info">(*) campos obligatorios</label>
                </div> 
                <br></br>
            </div>
            <div class="row">
                <div class="pull-right"><button class="btn btn-primary" type="button">Siguiente <i class="fa fa-arrow-right"></i></button></div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div style="background:white" class="well">
                <div class="row">
                    <div class="span4"><strong>Especie*</strong></div>
                    <div class="span4">
                        <select style="width:206px">
                            <option>Seleccionar</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="span4"><strong>Categoria*</strong></div>
                    <div class="span4">
                        <select style="width:206px">
                            <option>Seleccionar</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="span4"><strong>Raza*</strong></div>
                    <div class="span4">
                        <select style="width:206px">
                            <option>Seleccionar</option>
                        </select>
                    </div>
                </div>
                <br></br>
                <div class="pull-left">
                    <label class="text-info">(*) campos obligatorios</label>
                </div> 
                <br></br>
            </div>
            <div class="row">
                <div class="pull-right"><button class="btn btn-primary" type="button">Siguiente <i class="fa fa-arrow-right"></i></button></div>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <div style="background:white" class="well">
                <div class="row">
                    <div class="span4"><strong>Cantidad Abortos*</strong></div>
                    <div class="span4"><input type="number" required="required" min="1" placeholder="Cantidad"></div>
                </div>
                <div class="pull-left">
                    <label class="text-info">(*) campos obligatorios</label>
                </div> 
                <br></br>
            </div>
            <div class="row">
                <div class="pull-right"><button class="btn btn-primary" type="button">Siguiente <i class="fa fa-arrow-right"></i></button></div>
            </div>
        </div>
       <div class="tab-pane" id="tab4">
            <div style="background:white" class="well">
                <div class="row">
                    <div style="background:white" class="span3 well">
                        <h3 class="margen">Agregar Parámetro</h3>
                        <div class="row margen">
                            <div class="span4 margen"><strong>Parámetro*</strong></div>
                            <div class="span4">
                                <select class="span2">
                                    <option>Seleccionar</option>
                                </select>
                                <i class="fa fa-plus-square fa-2x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4"><button class="btn btn-success" type="button"><i class="fa fa-floppy-o"></i> Guardar</button></div>
                            <div class="span4"><label class="text-info"><small>(*) campos obligatorios</small></label></div>
                        </div>
                    </div>
                    <div class="span6">
                        <table class="table table-bordered">
                            <tr>
                                <th><strong>Parámetro</strong></th>
                                <th><strong>Cantidad</strong></th>
                                <th><strong>Unidad</strong></th>
                                <th><strong>Opciones</strong></th>
                            </tr>
                            <tbody class="tabla">
                            <tr  style="cursor:pointer;">
                                <td id=""></td>
                                <td id=""></td>
                                <td id=""></td>
                                <td id=""></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered">
                        <ul class="pager">
                            <li class="previous"><a href="#"></a></li>
                            <li class="next"><a href="#"></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pull-left"><button style="width:140px" class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Anterior</button></div>
                <div class="pull-right"><button class="btn btn-primary" type="button">Siguiente <i class="fa fa-arrow-right"></i></button></div>
            </div>
       </div>
       <div class="tab-pane" id="tab5">
            <div style="background:white" class="well">
                <div class="row">
                    <div style="background:white" class="span3 well">
                        <h3 class="margen">Agregar Parámetro</h3>
                        <div class="row margen">
                            <div class="span4 margen"><strong>Parámetro*</strong></div>
                            <div class="span4">
                                <select style="width:206px">
                                    <option>Seleccionar</option>
                                </select>
                                <i class="fa fa-plus-square fa-2x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4"><strong>Cantidad*</strong></div>
                            <div class="span4">
                                <input type="text" placeholder="Cantidad"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4"><button class="btn btn-success" type="button"><i class="fa fa-floppy-o"></i> Guardar</button></div>
                            <div class="span4"><label class="text-info"><small>(*) campos obligatorios</small></label></div>
                        </div>
                    </div>
                    <div class="span6">
                        <table class="table table-bordered">
                            <tr>
                                <th><strong>Parámetro</strong></th>
                                <th><strong>Cantidad</strong></th>
                                <th><strong>Unidad</strong></th>
                                <th><strong>Opciones</strong></th>
                            </tr>
                            <tbody class="tabla">
                            <tr  style="cursor:pointer;">
                                <td id=""></td>
                                <td id=""></td>
                                <td id=""></td>
                                <td id=""></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered">
                        <ul class="pager">
                            <li class="previous"><a href="#"></a></li>
                            <li class="next"><a href="#"></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pull-left"><button style="width:140px" class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Anterior</button></div>
                <div class="pull-right"><button class="btn btn-primary" type="button">Siguiente <i class="fa fa-arrow-right"></i></button></div>
            </div>
       </div>
       <div class="tab-pane" id="tab6">
            <div style="background:white" class="well">
                <div class="row">
                    <div style="background:white" class="span3 well">
                        <h3 class="margen">Agregar Variable</h3>
                        <div class="row margen">
                            <div class="span4 margen"><strong>Variable*</strong></div>
                            <div class="span4">
                                <select style="width:206px">
                                    <option>Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="row margen">
                        <div class="span4 margen"><strong>Resultado Cualitativo*</strong></div>
                        <div class="span4 margen">
                            <label class="radio inline">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                <span class="metro-radio">Positivo</span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1">
                                <span class="metro-radio">Negativo</span>
                            </label>
                        </div>
                        </div>
                        <div class="row margen">
                            <div class="span4"><strong>Resultado Cuantitativo*</strong></div>
                            <div class="span4">
                                <input type="text" placeholder="Cuntitativo"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4"><button class="btn btn-success" type="button"><i class="fa fa-floppy-o"></i> Guardar</button></div>
                            <div class="span4"><label class="text-info"><small>(*) campos obligatorios</small></label></div>
                        </div>
                    </div>
                    <div class="span6">
                        <table class="table table-bordered">
                            <tr>
                                <th><strong>Variable</strong></th>
                                <th><strong>Cualitativo</strong></th>
                                <th><strong>Cuantitativo</strong></th>
                                <th><strong>Opciones</strong></th>
                            </tr>
                            <tbody class="tabla">
                            <tr  style="cursor:pointer;">
                                <td id=""></td>
                                <td id=""></td>
                                <td id=""></td>
                                <td id=""></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered">
                        <ul class="pager">
                            <li class="previous"><a href="#"></a></li>
                            <li class="next"><a href="#"></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pull-left"><button style="width:140px" class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Anterior</button></div>
                <div class="pull-right"><button class="btn btn-primary" type="button">Siguiente <i class="fa fa-arrow-right"></i></button></div>
            </div>
        </div>
    </div>
</div>  
</div> 
</div>
{% endblock %}