{% extends 'SIGivetBundle::menu.html.twig' %}
{%  block title %}
SIGivet
{% endblock %}

{% block miga %}
<ul class="breadcrumb trim">
     <li><a href="#">Inicio</a> <span class="divider">/</span></li>
     <li><a href="#">Análisis</a> <span class="divider">/</span></li>
     <li class="active">Proyectos</li>
   </ul>

{% endblock %}

{% block contenido %}
<div class="well  whites trim">
	<h4 class="align-center"><strong>LISTA DE PROYECTOS</strong></h4>	
	<table class="table table-bordered">
		<tr>
			<th><strong>Proyecto</strong></th>
			<th><strong>Fecha</strong></th>
			<th><strong>Tipo de Proyecto</strong></th>
			<th><strong>Municipio</strong></th>
			<th><strong>Analizar</strong></th>
		</tr>
        <tbody class="tabla">
        	<tr  style="cursor:pointer;">
				<td id=""></td>
				<td id=""></td>
				<td id=""></td>
				<td id=""></td>
				<td id=""></td>
			</tr>
        </tbody>
   </table>
    <div class="pagination pagination-centered">
   <ul class="pager">
     <li class="previous"><a href="#"></a></li>
     <li class="next"><a href="#"></a></li>
   </ul>
   </div>
</div>
<a id="show-toast-button"  data-toggle="modal" href="#myModal" class="btn btn-success pull-right"><i class="fa fa-male"></i> Analizar</a>
<div id="myModal" class="modal hide fade">
	<div class="modal-header well">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 id="myModalLabel" class="align-center"><strong> PARÁMETROS A ANALIZAR </strong></h3>
    </div>
    <div class="modal-body">
        <form class="form">
            <div class="row">
                <div class="span2">
                    <label><strong class="muted">Variables*</strong></label>
                </div>
                <div style="width:230px" class="span2 well">
                    <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox1" value="option1">
                        <span class="metro-checkbox"><strong> Hemograma </strong></span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox2" value="option2">
                        <span class="metro-checkbox"><strong> Hemoparásito </strong></span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox3" value="option3">
                        <span class="metro-checkbox"><strong> Cropológica</strong></span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox3" value="option3">
                        <span class="metro-checkbox"><strong>Serológica</strong></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <label class="muted"><strong>Soporte*</strong></label>
                </div>
                <div  class="span2">
                    <input style="width:270px" type="number" required="required" min="1">
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <label class="muted"><strong>Confianza*</strong></label>
                </div>
                <div  class="span2">
                    <input style="width:270px" type="number" required="required" min="1">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success">Iniciar</button>
        <button class="btn" data-dismiss="modal">Cancelar</button>
    </div>
</div>
{% endblock %}