{% extends 'SIGivetBundle::menu.html.twig' %}
{%  block title %}
SIGivet
{% endblock %}

{% block miga %}
<ul class="breadcrumb trim">
     <li><a href="#">Inicio</a> <span class="divider">/</span></li>
     <li><a href="#">Análisis</a> <span class="divider">/</span></li>
     <li class="active">Proyectos</li>
   </ul>

{% endblock %}

{% block contenido %}
<div class="well  whites trim">
	<h4 class="align-center"><strong>REPORTE</strong></h4>
	<div>
		
	</div>	
</div>
{% endblock %}